#Main {
	background-color: white;
	width: 80%;
	margin: auto;
	height: 2000px;
	border-radius: 50px;
}

body {
	background-image: url(Wallpaper.jpg);
	background-attachment: fixed;
	margin-top: 80px;
	margin-bottom: 80px;
}

